/***
   Rui Santos
   Complete project details at https://RandomNerdTutorials.com
***/

html {
    font-family: Verdana;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Verdana;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1rem;
    width: 20%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Status {
    background-color: #777;
}

#Programs {
    background-color: #777;
}

#Calibration {
    background-color: #777;
}

#ManualControl {
    background-color: #777;
}

#Settings {
    background-color: #777;
}

h1 {
    color: white;
    padding: 2vh;
	background-color: #555;
}

h3 {
    color: white;
    font-size: 1.5rem;
	background-color: #777;
}

p {
    font-size: 1.5rem;
	background-color: #777;
}

table{
	font-size: 1.5rem;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th, td {
  border: 1px solid black;
  border-radius: 3px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #777;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px #555;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: #777;
}

.button:active {
    background-color: #555;
    box-shadow: 0 0px #555;
    transform: translateY(2px);
}